@page "/register"
@using Domain.ModelClasses
@using Domain.DataAccessContracts
@inject IUserDao userDao
@inject NavigationManager NavigationManager

<div class="col-xl-6 mx-auto p-3">
    <RadzenCard Style="width: 100%;">
        <h2 class="mb-4">Register a new user</h2>
        <RadzenTemplateForm Data=@("SimpleLogin")>
            <RadzenLogin 
                AllowRegister="false" 
                AllowResetPassword="false" 
                LoginText="Register"
                Login=@(args => OnRegister(args)) />
        </RadzenTemplateForm>
    </RadzenCard>
</div>

@code {
    void OnRegister(LoginArgs args)
    {
        var user = new User()
        {
            UserName = args.Username,
            Password = args.Password
        };
        
        userDao.AddUserAsync(user);
        NavigationManager.NavigateTo("/login");
    }
}